{
    "data": {
        "elevation": 0,
        "external_url": null,
        "internal_url": null,
        "latitude": 37.8075,
        "location_name": "Home - Lakeside",
        "longitude": -122.2644,
        "time_zone": "America/Los_Angeles",
        "unit_system": "imperial"
    },
    "key": "core.config",
    "version": 1
}